In [1]:
import pandas as pd
import numpy as np
import pathlib

### Import 1 of 2 Datasets

In [2]:
behavior=pathlib.Path("shopping_behavior_updated.csv")
cons_habs=pd.read_csv(behavior)
mymap={'Yes':1,'No':0}
for col in ['Subscription Status', 'Discount Applied']:
    cons_habs[col]=cons_habs[col].map(mymap).astype('object')
def freq_factor(x):
    if x=='Every 3 Months': return 365/4
    if x=='Annually': return 365/1
    if x=='Quarterly': return 365/4
    if x=='Monthly': return 365/12
    if x=='Bi-Weekly': return 7/2
    if x=='Fortnightly': return 14
    if x=='Weekly': return 7
cons_habs['Total Days of Patronage']=(cons_habs['Frequency of Purchases'].map(freq_factor)*cons_habs['Previous Purchases']).astype(int)
cons_habs=cons_habs.drop(columns='Customer ID')
cons_habs.head()

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Total Days of Patronage
0,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,1,Express,1,Yes,14,Venmo,Fortnightly,196
1,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,1,Express,1,Yes,2,Cash,Fortnightly,28
2,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,1,Free Shipping,1,Yes,23,Credit Card,Weekly,161
3,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,1,Next Day Air,1,Yes,49,PayPal,Weekly,343
4,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,1,Free Shipping,1,Yes,31,PayPal,Annually,11315

In [3]:
cons_habs.dtypes

Age                          int64
Gender                      object
Item Purchased              object
Category                    object
Purchase Amount (USD)        int64
Location                    object
Size                        object
Color                       object
Season                      object
Review Rating              float64
Subscription Status         object
Shipping Type               object
Discount Applied            object
Promo Code Used             object
Previous Purchases           int64
Payment Method              object
Frequency of Purchases      object
Total Days of Patronage      int64
dtype: object

### Import 2 of 2 Datasets

In [4]:
coff_by_reg=pathlib.Path('../coffee/US_FL_IL_2020_to_2025_Weekly_googtrendcoffeesearch.csv')
coffee=pd.read_csv(coff_by_reg)
coffee=coffee[coffee.columns[1:]]
coffee.head()

   Florida  United States  Illinois
0       53             63        68
1       54             64        66
2       54             62        66
3       51             59        59
4       51             60        60

In [5]:
coffee.dtypes

Florida          int64
United States    int64
Illinois         int64
dtype: object

In [6]:
coffee.corr()

                Florida  United States  Illinois
Florida        1.000000       0.923026  0.917687
United States  0.923026       1.000000  0.920715
Illinois       0.917687       0.920715  1.000000

# The column_comparison() function for:  
>## Hypothosis Test P-values  
>## Coefficients

In [7]:
from CompareColumns import CompareColumns
cc=CompareColumns()

### A look at the function

In [8]:
# Function: 
"""
cc.column_comparison(dataframe,  
                        numnum_meth_alpha_above=('pearson',0.2,True),  
                        catnum_meth_alpha_above=('kruskal',0.05,False),  
                        catcat_meth_alpha_above=('chi2',0.05,None),  
                        numeric_columns=None,  
                        categoric_columns=None,  
                        numeric_target=None,   
                        categoric_target='Size' ) 
"""   
# Parameters:
"""  
    dataframe: a pandas dataframe  
    numnum_meth_alpha_above, catnum_meth_alpha_above, and catcat_meth_alpha_above take input of:  
        None or a tuple with (test method, alpha threshold, and whether >= or < in relation to threshold or both)  
        if tuple, values should be (string, float, boolean|None).  
        Examples: ('chi2',0.05,False), ('anova',0.025,None), ('welch',0.01,True).
        where: 
            numnum_meth_alpha_above for a numeric-to-numeric comparison. Accepts methods of ('welch','student','pearson','spearman',kendall').
            catnum_meth_alpha_above for a categoric-to-numeric comparison. Accepts methods of ('kruskal','anova').
            catcat_meth_alpha_above for a categoric-to-categoric comparison. Accepts method of ('chi2').  
    numeric_columns and categoric_columns accept manual column input. Otherwise columns are autodetected.  
    numeric_target and categoric_target accept target columns. If either or both, only combinations involving targets will be considered. 
""" 
print('')

# A one-shot approach to examining a dataset  
>### This uses Welch's T-test, ANOVA, and Chi**2 to perform hypothesis tests

In [9]:
print("Rejected Null for Numeric-to-Numeric, Categoric-to-Categoric, and Categoric-to-Numeric.")
cc.column_comparison(cons_habs,
                        numnum_meth_alpha_above=('welch',0.05,False),  # <--  False for strictly below threshold
                        catnum_meth_alpha_above=('anova',0.05,False),  # <--  False for strictly below threshold
                        catcat_meth_alpha_above=('chi2',0.05,False),  # <--  False for strictly below threshold
                        numeric_columns=None,
                        categoric_columns=None,
                        numeric_target=None,
                        categoric_target=None )

Rejected Null for Numeric-to-Numeric, Categoric-to-Categoric, and Categoric-to-Numeric.

                   column_a                 column_b   test        P-value
0     Purchase Amount (USD)                   Season  anova   1.057616e-02
1             Review Rating            Shipping Type  anova   3.836537e-02
2             Review Rating                    Color  anova   1.126284e-02
3             Review Rating                     Size  anova   4.315460e-02
4        Previous Purchases                   Gender  anova   2.507493e-02
5        Previous Purchases           Item Purchased  anova   4.231105e-02
6   Total Days of Patronage   Frequency of Purchases  anova   0.000000e+00
0                  Category           Item Purchased   chi2   0.000000e+00
1          Discount Applied          Promo Code Used   chi2   0.000000e+00
2          Discount Applied                   Gender   chi2  2.101032e-186
3          Discount Applied      Subscription Status   chi2  2.938420e-287
4           Promo Code Used                   Gender   chi2  2.101032e-186
5           Promo Code Used      Subscription Status   chi2  2.938420e-287
6                    Gender      Subscription Status   chi2   2.526620e-76
7                    Gender            Shipping Type   chi2   3.160742e-02
0                       Age    Purchase Amount (USD)  welch  3.205036e-244
1                       Age            Review Rating  welch   0.000000e+00
2                       Age       Previous Purchases  welch   0.000000e+00
3                       Age  Total Days of Patronage  welch  2.422800e-260
4     Purchase Amount (USD)                      Age  welch  3.205036e-244
5     Purchase Amount (USD)            Review Rating  welch   0.000000e+00
6     Purchase Amount (USD)       Previous Purchases  welch   0.000000e+00
7     Purchase Amount (USD)  Total Days of Patronage  welch  4.131681e-257
8             Review Rating                      Age  welch   0.000000e+00
9             Review Rating    Purchase Amount (USD)  welch   0.000000e+00
10            Review Rating       Previous Purchases  welch   0.000000e+00
11            Review Rating  Total Days of Patronage  welch  1.094402e-268
12       Previous Purchases                      Age  welch   0.000000e+00
13       Previous Purchases    Purchase Amount (USD)  welch   0.000000e+00
14       Previous Purchases            Review Rating  welch   0.000000e+00
15       Previous Purchases  Total Days of Patronage  welch  3.312935e-264
16  Total Days of Patronage                      Age  welch  2.422800e-260
17  Total Days of Patronage    Purchase Amount (USD)  welch  4.131681e-257
18  Total Days of Patronage            Review Rating  welch  1.094402e-268
19  Total Days of Patronage       Previous Purchases  welch  3.312935e-264

# A look at using numeric and categoric targets to filter compute and output   
### Note: these use Kruskal_Wallis instead of ANOVA because Kruskal_Wallis is more suitable for this dataset.

In [10]:
print("A look at the categorical 'Size' column and the numerical 'Review Rating' column.\nResults are not filtered based on p-values")
cc.column_comparison(cons_habs,
                        numnum_meth_alpha_above=('welch',0.05,None),  #  <-- None for unfiltered
                        catnum_meth_alpha_above=('kruskal',0.05,None),  #  <-- None for unfiltered
                        catcat_meth_alpha_above=('chi2',0.05,None),  #  <-- None for unfiltered
                        numeric_columns=None,
                        categoric_columns=None,
                        numeric_target='Review Rating',
                        categoric_target='Size' )

A look at the categorical 'Size' column and the numerical 'Review Rating' column.
Results are not filtered based on p-values

                   column_a                 column_b     test        P-value
0     Purchase Amount (USD)                     Size  kruskal   1.847614e-01
1                       Age                     Size  kruskal   5.123240e-01
2        Previous Purchases                     Size  kruskal   6.263090e-01
3             Review Rating                   Season  kruskal   1.684497e-01
4             Review Rating                 Category  kruskal   1.542907e-01
5             Review Rating         Discount Applied  kruskal   4.437409e-01
6             Review Rating          Promo Code Used  kruskal   4.437409e-01
7             Review Rating                   Gender  kruskal   6.051729e-01
8             Review Rating      Subscription Status  kruskal   7.013635e-01
9             Review Rating           Item Purchased  kruskal   6.898478e-01
10            Review Rating            Shipping Type  kruskal   3.898507e-02
11            Review Rating   Frequency of Purchases  kruskal   7.088126e-01
12            Review Rating                    Color  kruskal   1.175904e-02
13            Review Rating                 Location  kruskal   9.076817e-01
14            Review Rating           Payment Method  kruskal   5.005822e-01
15            Review Rating                     Size  kruskal   4.340525e-02
16  Total Days of Patronage                     Size  kruskal   7.127686e-01
0                      Size                   Season     chi2   5.145001e-01
1                      Size                 Category     chi2   4.378100e-01
2                      Size         Discount Applied     chi2   4.700590e-01
3                      Size          Promo Code Used     chi2   4.700590e-01
4                      Size                   Gender     chi2   8.523181e-02
5                      Size      Subscription Status     chi2   8.191353e-01
6                      Size           Item Purchased     chi2   8.073680e-01
7                      Size            Shipping Type     chi2   9.264267e-01
8                      Size   Frequency of Purchases     chi2   6.859657e-01
9                      Size                    Color     chi2   6.370107e-01
10                     Size                 Location     chi2   5.396975e-01
11                     Size           Payment Method     chi2   1.833707e-01
0             Review Rating    Purchase Amount (USD)    welch   0.000000e+00
1             Review Rating                      Age    welch   0.000000e+00
2             Review Rating       Previous Purchases    welch   0.000000e+00
3             Review Rating  Total Days of Patronage    welch  1.094402e-268

# A look at options for categoric to numeric comparisons  
>### options are 'Kruskal Wallis' or 'ANOVA': 'kruskal', 'anova'

In [11]:
print("Kruskal Wallis Comparisons.")
display(cc.column_comparison(cons_habs,
                        numnum_meth_alpha_above=None,
                        catnum_meth_alpha_above=('kruskal',0.05,None),  #  <-- None for unfiltered
                        catcat_meth_alpha_above=None,
                        numeric_columns=['Review Rating','Previous Purchases'],
                        categoric_columns='Color',
                        numeric_target=None,
                        categoric_target='Color' ))
print("ANOVA Comparisons")
display(cc.column_comparison(cons_habs,
                        numnum_meth_alpha_above=None,
                        catnum_meth_alpha_above=('anova',0.05,None),  #  <-- None for unfiltered
                        catcat_meth_alpha_above=None,
                        numeric_columns=['Review Rating','Previous Purchases'],
                        categoric_columns='Color',
                        numeric_target=None,
                        categoric_target='Color' ))

Kruskal Wallis Comparisons.

             column_a column_b     test   P-value
0       Review Rating    Color  kruskal  0.011759
1  Previous Purchases    Color  kruskal  0.130870

ANOVA Comparisons

             column_a column_b   test   P-value
0       Review Rating    Color  anova  0.011263
1  Previous Purchases    Color  anova  0.126958

## A look at numeric to numeric comparissons using:  
>### Coefficients: 'pearson', 'spearman', 'kendall'  
>### T-tests: "welch's", "student's"

In [12]:
print("Pearson Correlation >= 0.92")
cc.column_comparison(coffee,
                        numnum_meth_alpha_above=('pearson',0.92,True),  #  <-- True for above or equal to threshold
                        catnum_meth_alpha_above=None,
                        catcat_meth_alpha_above=None,
                        numeric_columns=None,
                        categoric_columns=None,
                        numeric_target=None,
                        categoric_target=None )

Pearson Correlation >= 0.92

        column_a       column_b     test  Correlation
0        Florida  United States  pearson     0.923026
1  United States       Illinois  pearson     0.920715

In [13]:
print("Spearman Correlation < 0.902")
cc.column_comparison(coffee,
                        numnum_meth_alpha_above=('spearman',0.902,False),  # <--  False for strictly below threshold
                        catnum_meth_alpha_above=None,
                        catcat_meth_alpha_above=None,
                        numeric_columns=None,
                        categoric_columns=None,
                        numeric_target=None,
                        categoric_target=None )

Spearman Correlation < 0.902

        column_a  column_b      test  Correlation
0  United States  Illinois  spearman     0.900883

In [14]:
print("Kenall's Rank: unfiltered")
cc.column_comparison(coffee,
                        numnum_meth_alpha_above=('kendall',0.902,None),  #  <-- None for unfiltered
                        catnum_meth_alpha_above=None,
                        catcat_meth_alpha_above=None,
                        numeric_columns=None,
                        categoric_columns=None,
                        numeric_target=None,
                        categoric_target=None )

Kenall's Rank: unfiltered

        column_a       column_b     test  Correlation
0        Florida  United States  kendall     0.769343
1        Florida       Illinois  kendall     0.757979
2  United States       Illinois  kendall     0.763141

In [15]:
print("Welch's T-test: reject null")
cc.column_comparison(coffee,
                        numnum_meth_alpha_above=('welch',0.05,False),  # <--  False for strictly below threshold
                        catnum_meth_alpha_above=None,
                        catcat_meth_alpha_above=None,
                        numeric_columns=None,
                        categoric_columns=None,
                        numeric_target=None,
                        categoric_target=None )

Welch's T-test: reject null

        column_a       column_b   test       P-value
0        Florida  United States  welch  4.917673e-32
1        Florida       Illinois  welch  5.306237e-32
2  United States        Florida  welch  4.917673e-32
3       Illinois        Florida  welch  5.306237e-32

In [16]:
print("Student's T-test: fail to reject null")
cc.column_comparison(coffee,
                        numnum_meth_alpha_above=('student',0.05,True),  #  <-- True for above or equal to threshold
                        catnum_meth_alpha_above=None,
                        catcat_meth_alpha_above=None,
                        numeric_columns=None,
                        categoric_columns=None,
                        numeric_target=None,
                        categoric_target=None )

Student's T-test: fail to reject null

        column_a       column_b     test   P-value
0  United States       Illinois  student  0.715309
1       Illinois  United States  student  0.715309